.row-one,
.row-two ,
.row-three {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    
}

.row-two {
    background-color: #6e6c6d;
    
}

.table-one {
    width: 100%;
    border: 1px solid #ccc;
}

.table-one > tbody > tr > td {
    border: 1px solid #ccc;
    min-height: 50px;
    padding: .5em;
}

.add-button {
    font-size: bold;
}
